
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.userDiv {
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    padding: 5px;
    -webkit-box-shadow: 5px 5px 3px #888888;
    -ms-box-shadow: 5px 5px 3px #888888;
    box-shadow: 5px 5px 3px #888888;
    border: 1px solid #888888;
}

.userTitleDiv {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#chatInputs {
    display: none;
}
